:root {
    --text-black: #2B283A;
    --text-grey: #918E9B;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    background: #F55A5A;
    gap: 7px;
}

nav .title {
    position: relative;
    font-size: 14px;
    color: #FFFFFF;
}

nav > img {
    width: 24px;
}

.main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 20px;
}

.main-container > div {
    display: flex;
    height: 200px;
    padding: 10px;
    width: 478px;
    border-bottom: 1px solid #F5F5F5;
}

.info-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 15px;
    
}

.info-container > div {
    display: flex;
    align-items: center;
}

.image-container {
    width: 125px;
    height: 178px;
    flex-shrink: 0;
}

.image-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.marker {
    height: 9px;
}

.location {
    color: var(--text-black);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 12px;
    letter-spacing: 0.17em;
    margin-left: 5px;
}

.link {
    color: var(--text-grey);
    font-weight: 400;
    font-size: 10.24px;
    line-height: 12px;
    text-decoration-line: underline;
    margin-left: 10px;
}

.landmark {
    align-self: flex-start;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    margin-top: 5px;;
}

.date {
    margin-top: 20px;
    font-weight: 700;
    font-size: 10.24px;
    line-height: 12px;
    color: var(--text-black)
}

.description {
    margin-top: 5px;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
    color: var(--text-black)
}

.border {
    border-bottom: 1px solid #F5F5F5;
}